<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <title>TTO Login</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.0-beta1 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/styles_login.css">
    <link rel="shortcut icon" href="./images/logoS.png">


</head>
<body>
    <header>
        <div id="header" class="sombreado"> 
            <div id="menu">
                <img onClick="desplegarMenu()" src="./images/menu.png" alt="Menu">
            </div>
            <div id="logo">
                <span>Tu tienda Online</span>
                <a th:href="@{/}">
                    <img src="./images/logoS.png" alt="Logo">
                </a>
            </div>
        </div>
        <div id="navbar">
            <div class="max-screen">
                <a id="boton-inventario" href="">
                    <button class="btn-inventario sombreado">Inventario</button>
                </a>
                <form class="d-flex" role="search">
                    <input id="busqueda" type="search" placeholder="Buscar...">
                    <img class="btn-navbar" src="./images/search.png" alt="Buscar">
                </form>                    
                <a href="./login.html">
                    <img class="btn-navbar" src="./images/login.png" alt="Login">
                </a>
                <a href="./nosotros/index.html">
                    <img class="btn-navbar" src="./images/info.png" alt="Informacion">
                </a>
            </div>
        </div>
        <div class="sub-menu">
            <div class="categoria-nav">
                <div id="categoria-damas" onMouseEnter="bajarMenuDamas()">
                    <p>DAMAS</p>
                    <div id="cat-damas">
                        <div class="back-damas">
                            <h5>Prendas Superiores</h5>
                            <h5>Prendas Inferiores</h5>
                            <h5>Conjuntos</h5>
                            <a href="./woman.html">
                                <h5>Todo</h5>
                            </a>
                        </div>
                    </div>
                </div>
                <div id="categoria-caballeros" onMouseEnter="bajarMenuCaballeros()">
                    <p>CABALLEROS</p>
                    <div id="cat-caballeros">
                        <div class="back-caballeros">
                            <h5>Prendas Superiores</h5>
                            <h5>Prendas Inferiores</h5>
                            <h5>Conjuntos</h5>
                            <a href="./man.html">
                                <h5>Todo</h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </header>
    <aside id="aside">
        <section id="aside-menu">
            <ul>
                <li>
                    <a th:href="@{/login}">Iniciar Sesion</a>
                </li>
                <li>
                    <a th:href="@{/nosotros}">Nosotros</a>
                </li>
                <li>
                    <a href="/">Contactenos</a>
                </li>
            </ul>
        </section>
    </aside>
    <main>
        <div id="login">
            <div onClick="history.go(-1);">
                <img class="cerrar" src="./images/cerrar.png" alt="Cerrar">           
            </div>

            <h3>Iniciar Sesion</h3>
            <div class="input-login">
                <input id="input-usuario" type="text" required="required">
                <span>Usuario</span>
            </div>
            <div class="input-login">
                <input id="input-password" type="password" required="required">
                <span>Password</span>
            </div>
            <!-- <a href="./login.html" onClick="iniciarSesion()">
                <button class="sombreado btn-primario">Entrar</button>
            </a> -->
            <button class="sombreado btn-primario" onClick="iniciarSesion()">Entrar</button>
            <a onClick="mostrarRegistro()">
                <p>Registrarse</p>
            </a>
        </div> 
        <div id="registro-mostrar">
            <div id="registro">
                <div onClick="ocultarRegistro()">
                    <img class="cerrar" src="./images/cerrar.png" alt="Cerrar">           
                </div>
                
                <h3>Crear cuenta</h3>
                <div class="input-login">
                    <input id="input-usuario-nuevo" type="text" required="required">
                    <span>Usuario</span>
                </div>
                <div class="input-login">
                    <input id="input-email-nuevo" type="email" required="required">
                    <span>Correo</span>
                </div>                
                <div class="input-login">
                    <input id="input-password-nuevo" type="password" required="required">
                    <span>Password</span>
                </div>
                <div class="input-login">
                    <input id="input-repetir-password-nuevo" type="password" required="required">
                    <span>Repita su password</span>
                </div>
                <!-- <a href="./login.html" onClick="iniciarSesion()">
                    <button class="sombreado btn-primario">Entrar</button>
                </a> -->
                <button class="sombreado btn-primario" onClick="iniciarSesion()">Registar</button>
            </div>          
        </div>    
    </main>
    <footer id="footer">
        <div class="container-fluid">
            <div class="row align-items-center ">
                <div class="col ">
                    <img src="./images/logoS.png" alt="logo">
                </div>
                <div class="col">
                    <ul class="text-center m-2">
                        <li>
                            <a th:href="@{/}">Inicio</a>
                        </li>
                        <li>
                            <a th:href="@{/nosotros}">Nosotros</a>
                        </li>
                        <li>
                            <a href="#">Contactenos</a>
                        </li>
                    </ul>
                </div>
                <div class="col align-self-end text-end">
                    <p class="mb-1">Grupo 7 UTP 2022</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="./js/registro.js"></script>
    <script src="./js/index.js"></script>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous">
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
        integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous">
    </script>

</body>

</html>