<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
  <title>Tu Tienda Online</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.0-beta1 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/styles_man.css">
    <link rel="shortcut icon" href="https://i.postimg.cc/7Lh51TG8/logoS.png">

</head>

<body>
    <header>
        <div id="header" class="sombreado">
            <div id="menu">
                <img onClick="desplegarMenu()" src="https://i.postimg.cc/Y0cTRCY3/menu.png" alt="Menu">
            </div>
            <div id="logo">
                <span>Tu tienda Online</span>
                <a th:href="@{/}">
                    <img src="https://i.postimg.cc/7Lh51TG8/logoS.png" alt="Logo">

                </a>
            </div>
        </div>
        <div id="navbar">
            <div class="max-screen">
                <a id="boton-inventario" href="">
                    <button class="btn-inventario sombreado">Inventario</button>
                </a>
                <form class="d-flex" role="search">
                    <input id="busqueda" type="search" placeholder="Buscar...">
                    <img class="btn-navbar" src="https://i.postimg.cc/yd3w0Zgx/search.png" alt="Buscar">
                </form>                    
                <a th:href="@{/}">
                    <img class="btn-navbar" src="https://i.postimg.cc/sgVdbx8H/login.png" alt="Login">
                </a>    
                <a th:href="@{/nosotros}">
                    <img class="btn-navbar" src="https://i.postimg.cc/qMcHmymC/info.png" alt="Informacion">
                </a>
            </div>
        </div>
        <div class="sub-menu">
            <div class="categoria-nav">
                <div id="categoria-damas" onMouseEnter="bajarMenuDamas()">
                    <p>DAMAS</p>
                    <div id="cat-damas">
                        <div class="back-damas">
                            <h5>Prendas Superiores</h5>
                            <h5>Prendas Inferiores</h5>
                            <h5>Conjuntos</h5>
                            <a th:href="@{/woman}">
                                <h5>Todo</h5>
                            </a>
                        </div>
                    </div>
                </div>
                <div id="categoria-caballeros" onMouseEnter="bajarMenuCaballeros()">
                    <p>CABALLEROS</p>
                    <div id="cat-caballeros">
                        <div class="back-caballeros">
                            <h5>Prendas Superiores</h5>
                            <h5>Prendas Inferiores</h5>
                            <h5>Conjuntos</h5>
                            <a th:href="@{/man}">
                                <h5>Todo</h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </header>
    <aside id="aside">
        <section id="aside-menu">
            <ul>
                <li>
                    <a th:href="@{/login}">Iniciar Sesion</a>
                </li>
                <li>
                    <a th:href="@{/nosotros}">Nosotros</a>
                </li>
                <li>
                    <a href="/">Contactenos</a>
                </li>
            </ul>
        </section>
    </aside>
    <article id="portada-man">
        
    </article>
    <main>
        <section class="mt-5" id="categorias">
            <div class="container-fluid">
                <div class="row" id="titulo-categoria">
                    <div class="col" id="titulo-section">
                        <h3 id="todo-caballeros" class="titulo-activo" onClick="todoCaballeros()">Todo</h3>
                        <h3 id="prendas-superiores-caballeros"class="titulo-inactivo" onClick="listarPrendasSuperioresCaballeros()">Prendas Superiores</h3>
                        <h3 id="prendas-inferiores-caballeros"class="titulo-inactivo" onClick="listarPrendasInferioresCaballeros()">Prendas Inferiores</h3>
                        <h3 id="conjuntos-caballeros"class="titulo-inactivo" onClick="listarConjuntosCaballeros()">Conjuntos</h3>
                        <img src="https://i.postimg.cc/3JTPDWKr/back.png" onClick="btnAtras()" alt="Atras">
                    </div>
                </div>
                <div class="row" id="section-categorias">
                    <div class="col-12 col-md-6 mb-5">
                        <div class="card-categoria sombreado">
                            <div class="btn-categoria">
                                <button class="btn-card sombreado" onClick="desplegarTodoMan()">Todo</button>
                            </div>
                            <div class="img-cards sombreado">
                                <img src="https://i.postimg.cc/x1qfsYCz/ellos.jpg" alt="Ellos">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mb-5">
                        <div class="card-categoria sombreado">
                            <div class="btn-categoria">
                                <button class="btn-card sombreado">Prendas Superiores</button>
                            </div>
                            <div class="img-cards sombreado">
                                <img src="https://i.postimg.cc/JnW1mJpZ/prendas-superiores-hombre.jpg" alt="Damas">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mb-5">
                        <div class="card-categoria sombreado">
                            <div class="btn-categoria">
                                <button class="btn-card sombreado">Prendas Inferiores</button>
                            </div>
                            <div class="img-cards sombreado">
                                <img src="https://i.postimg.cc/brm8Q5p9/prendas-inferiores.jpg" alt="Damas">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mb-5">
                        <div class="card-categoria sombreado">
                            <div class="btn-categoria">
                                <button class="btn-card sombreado">Conjuntos</button>
                            </div>
                            <div class="img-cards sombreado">
                                <img src="https://i.postimg.cc/VsgYQJn0/conjuntos-hombre.jpg" alt="Damas">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-5" id="section-listado">
                    <div class="col-12 col-md-4 col-xl-3 mb-5">
                        <div class="card-categoria sombreado">
                            <div class="btn-categoria">
                                <button class="btn-card sombreado">$36.000</button>
                            </div>
                            <div class="img-cards sombreado">
                                <img src="https://i.postimg.cc/1RYzhfqz/13.jpg" alt="Damas">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-xl-3 mb-5">
                        <div class="card-categoria sombreado">
                            <div class="btn-categoria">
                                <button class="btn-card sombreado">$110.000</button>
                            </div>
                            <div class="img-cards sombreado">
                                <img src="https://i.postimg.cc/5t14qzZs/15.jpg" alt="Damas">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-xl-3 mb-5">
                        <div class="card-categoria sombreado">
                            <div class="btn-categoria">
                                <button class="btn-card sombreado">$30.000</button>
                            </div>
                            <div class="img-cards sombreado">
                                <img src="https://i.postimg.cc/85zTxSkW/2.jpg" alt="Damas">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-xl-3 mb-5">
                        <div class="card-categoria sombreado">
                            <div class="btn-categoria">
                                <button class="btn-card sombreado">$59.000</button>
                            </div>
                            <div class="img-cards sombreado">
                                <img src="https://i.postimg.cc/wMSHtRXc/3.jpg" alt="Damas">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-xl-3 mb-5">
                        <div class="card-categoria sombreado">
                            <div class="btn-categoria">
                                <button class="btn-card sombreado">35.000</button>
                            </div>
                            <div class="img-cards sombreado">
                                <img src="https://i.postimg.cc/8k3TX92J/6.jpg" alt="Damas">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-xl-3 mb-5">
                        <div class="card-categoria sombreado">
                            <div class="btn-categoria">
                                <button class="btn-card sombreado">$46.000</button>
                            </div>
                            <div class="img-cards sombreado">
                                <img src="https://i.postimg.cc/RFpvBDqY/7.jpg" alt="Damas">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-xl-3 mb-5">
                        <div class="card-categoria sombreado">
                            <div class="btn-categoria">
                                <button class="btn-card sombreado">$110.000</button>
                            </div>
                            <div class="img-cards sombreado">
                                <img src="https://i.postimg.cc/x8qTNSWY/9.jpg" alt="Damas">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer id="footer">
        <div class="container-fluid">
            <div class="row align-items-center ">
                <div class="col ">
                    <img src="https://i.postimg.cc/7Lh51TG8/logoS.png" alt="logo">
                </div>
                <div class="col">
                    <ul class="text-center m-2">
                        <li>
                            <a th:href="@{/}">Inicio</a>
                        </li>
                        <li>
                            <a hth:href="@{/nosotros}">Nosotros</a>
                        </li>
                        <li>
                            <a href="#">Contactenos</a>
                        </li>
                    </ul>
                </div>
                <div class="col align-self-end text-end">
                    <p class="mb-1">Grupo 7 UTP 2022</p>
                </div>
            </div>
        </div>
    </footer>
        <!-- place footer here -->
    </footer>
    <script src="./js/start.js"></script>

    <script src="./js/index.js"></script>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous">
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
        integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous">
    </script>
</body>

</html>